{% extends "base_layout.html" %}
{% load l10n %}

{% block title %}Testsuite - {{ testsuite.name }}{% endblock %}

{% block breadcrumbs %}
    <li>{{ testsuite }}</li>
{% endblock %}

{% block content %}
<h1>Testsuite: {{ testsuite.name }}</h1>

<div class="row">
    <div class="col-md-2">
        <strong>Navn</strong>
    </div>
    <div class="col-md-6">
        {{ testsuite.name }}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <strong>Antal kørsler</strong>
    </div>
    <div class="col-md-6">
        {{ testsuite.tests.count }}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <strong>Antal fejlede tests</strong>
    </div>
    <div class="col-md-6">
        {{ testsuite.failed_tests.count }}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <strong>Kontaktpersoner</strong>
    </div>
    <div class="col-md-6">
        {% if testsuite.contactpersons.count %}

        <div class="list-group">
            {% for cp in testsuite.contactpersons.all %}
                <a class="list-group-item"
                   href="mailto:{{cp.email |escape }}"
                >{{ cp.full_name |escape }}
                &lt;{{ cp.email |escape }}&gt;</a>
            {% endfor %}
        </div>
        {% else %}
        Ingen kontaktpersoner angivet
        {% endif %}
    </div>
</div>

<div>
    <a href="/admin/appmonitor/testsuite/{{ testsuite.pk }}" role="button" class="btn btn-default">Redigér</a>
    <a href="{% url 'appmonitor:testsuite_download' testsuite.pk %}" role="button" class="btn btn-default">Download</a>
</div>

<div>

<form>
    <h2>Resultat-overblik</h2>
    {{ form.result_overview_from.errors }}
    <label for="{{ form.result_overview_from.id_for_label }}">{{ form.result_overview_from.label }}</label>
    {{ form.result_overview_from }}
    {{ form.result_overview_to.errors }}
    <label for="{{ form.result_overview_to.id_for_label }}">{{ form.result_overview_to.label }}</label>
    {{ form.result_overview_to }}
    <input type="submit" name="button_1" value="Opdater">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="info">
                <th>Måling</th>
                <th class="text-right">Antal målinger</th>
                <th class="text-right">Antal fejlede</th>
                <th class="text-right">Gennemsnitlig brugt tid</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in test_data %}
            <tr class="{{ entry.class }}">
                <td class="primary"><a
                    href="{% url 'appmonitor:measure' testsuite.pk entry.name %}"
                    >{{ entry.name }}</a></td>
                <td class="text-right">{{ entry.total }}</td>
                <td class="text-right">{{ entry.failures }}</td>
                <td class="text-right">{{ entry.avg_time|floatformat:4 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Afviklede tests</h2>
    {{ form.executed_tests_from.errors }}
    <label for="{{ form.executed_tests_from.id_for_label }}">{{ form.executed_tests_from.label }}</label>
    {{ form.executed_tests_from }}
    {{ form.executed_tests_to.errors }}
    <label for="{{ form.executed_tests_to.id_for_label }}">{{ form.executed_tests_to.label }}</label>
    {{ form.executed_tests_to }}
    <input type="submit" name="button_2" value="Opdater">
</form>
<table class="table table-bordered table-striped table-hover table-clickablerows">
    <thead>
        <tr class="info">
            <th>Id</th>
            <th>Startet</th>
            <th>Afsluttet</th>
            <th class="text-right">Antal målinger</th>
            <th class="text-center">Succes</th>
            <th class="text-center">Værktøjer</th>
        </tr>
    </thead>
    <tbody>
    {% for testrun in runs %}
        <tr class="{% if testrun.succeeded %}success{% else %}warning{%endif%}">
            <td>{{ testrun.pk }}</td>
            <td>{{ testrun.started |date:'Y-m-d H:i:s' }}</td>
            <td>{{ testrun.ended |date:'Y-m-d H:i:s'|default:"" }}</td>
            <td class="text-right">{{ testrun.testmeasure_set.count }}</td>
            <td class="text-center">
                {% if testrun.succeeded %}
                    <span class="label label-success">Ja</span>
                {% else %}
                    <span class="label label-warning">Nej</span>
                {% endif %}
            </td>
            <td class="text-center">
                <a href="/admin/appmonitor/testrun/{{ testrun.pk }}"
                   class="btn btn-default" role="button"
                   ><span class="glyphicon glyphicon-cog"></span
                ></a>
                <a href="{% url 'appmonitor:testrun' testrun.pk %}"
                   class="rowclicktarget btn btn-default" role="button"
                   ><span class="glyphicon glyphicon-list-alt"></span
                ></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
{% block bodyend_scripts %}
<script type="text/javascript"><!--
(function($) {
    $('.datepicker').datepicker({
        language: 'da',
        format: "dd-mm-yyyy",
    });
})(jQuery)
//--></script>
{% endblock %}
