/env
/.installed.cfg
/develop-eggs
/dist
/downloads
/eggs
/parts
/src/*.egg-info
/lib/*
!/lib/autoit
!/lib/*.whl
/lib/autoit/*.exe
/lib64


/aalborgmonitor/local_settings.py

/AutoIT
/bin/IEDriverServer.exe

/testsuites/**/*.exe
/testsuites/**/sqlite3*.dll

/.idea
/*.sqlite3
/*.whl
.komodotools
*.komodoproject
*.pyc
